.docs {
  position: relative;
  height: 100%;
  /* 整体样式 */
  background-color: #1a1a1a;
  color: #c4c4c4;
  letter-spacing: 0.8px;
  pre {
    letter-spacing: 0px;
    .line {
      line-height: 1.5em;
    }
  }
}
