.connect-status {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  .connect-status-widget {
    color: rgba(102, 102, 102, 0.8);
    padding: 8px 12px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.15);
  }
}
