.layouts {
  height: 100%;
  overflow: hidden;
  #scrollbar.light();
  .ant-layout-header {
    position: relative;
    padding-inline: 0;
    z-index: 100;
  }
  .ant-layout-content {
    overflow: auto;
  }
  .header {
    position: relative;
    padding-inline: 32px;
    height: var(--header-height);
    box-shadow: @light-box-shadow;
    background-color: var(--light-background);
    z-index: 10;
    &.is-dark {
      box-shadow: @dark-box-shadow;
      background-color: var(--dark-background);
      a,
      .logo-name {
        color: #fff;
        word-break: keep-all;
      }
    }
    .third-brand {
      line-height: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .layouts {
    .header {
      padding-inline: 16px;
    }
  }
}
