.layouts {
  height: 100%;
  .header {
    padding-inline: 24px;
    box-shadow: @box-shadow;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    &.is-home {
      box-shadow: none;
      background-color: rgba(0, 0, 0, 1);
      .logo-name {
        color: #fff;
      }
      .menu {
        .menu-item {
          color: #ddd;
        }
      }
    }
  }
  .logo {
    height: 64px;
    > a {
      height: 100%;
      display: inline-flex;
      place-items: center;
    }
    &-icon {
      width: 36px;
      height: 36px;
    }
    &-name {
      margin-left: 12px;
      margin-bottom: 0;
      color: #000;
    }
  }
  .menu {
    .menu-item {
      padding: 8px 12px;
      border-radius: 8px;
      color: #333;
      font-size: 14px;
      line-height: 1.4;
      cursor: pointer;
      transition: all ease-out 0.3s;
      &:hover {
        color: @primary-color !important;
      }
    }
  }
  .divider-bg {
    background: rgb(150, 150, 150);
  }
}
