
# dependencies
node_modules/

backend/dist
backend/*.json
backend/*/*.json
backend/vendor
backend/build
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
/dist
/docs-dist
test.ts
public/page-spy/index.min.js

# misc
.DS_Store

# local env files
.env.local
.env.*.local


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
