# dependencies
node_modules/
.yarn/

backend/dist
backend/*.json
backend/*/*.json
backend/vendor
backend/npm
backend/build
config.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
/dist
/docs-dist
test.ts
public/*
!public/favicon*

# misc
.DS_Store

# local env files
.env.local
.env.*.local


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# page-spy-api
/data
/log

# Package Manager Files
pnpm-lock.yaml
yarn.lock
npm-lock.json