<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PageSpy</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg">
  <% if (isDoc) { %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TFP524RRV2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TFP524RRV2');
    </script>
  <% } %>
  <script src="/source-map/source-map.min.js"></script>
  <script>
    const mappingWasmUrl = new URL('/source-map/mappings.wasm', window.location.href).toString()
    sourceMap.SourceMapConsumer.initialize({
      "lib/mappings.wasm": mappingWasmUrl
    });
  </script>
  <script src="/shiki/dist/index.jsdelivr.iife.js"></script>
  <script>
    const shikiURL = new URL('/shiki', window.location.origin).toString()
    window.shiki.setCDN(shikiURL)
  </script>
</head>

<body>
  <div id="root"></div>
  <script src="/src/main.tsx" type="module"></script>
</body>

</html>
