* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
}

#root {
  height: 100%;
  overflow: hidden auto;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}
