.storage-panel {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  &__layout {
    flex: 1;
    
    &--mobile {
      display: flex;
      flex-direction: column;
    }
  }
  &__sider {
    position: absolute;
    height: 100%;
    left: 0;
    border-right: 1px solid #d9d9d9;
  }
  &__menu {
    height: 100%;
    border-right: none;
    
    &--horizontal {
      border-bottom: 1px solid #d9d9d9;
    }
  }
  &__horizontal-menu {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    z-index: 10;
  }
  &__content {
    height: 100%;
    overflow: auto;
    background-color: #fff;
    thead {
      position: sticky;
      top: 0;
      z-index: 10;
    }
  }
}

// 移动端适配
@media screen and (max-width: 768px) {
  .storage-panel {
    &__content {
      padding-left: 0;
    }
    
    // 移动端的菜单样式
    &__horizontal-menu {
      .ant-menu-item {
        padding: 0 10px;
        margin: 0 4px;
      }
    }
  }
}
