@paragraph-space: 12px;

.doc-content {
  padding: 24px;
  height: 100%;
  overflow: auto;
  transition: filter ease-in-out 100ms;
  &.loading {
    filter: blur(3px);
  }
  .paragraph {
    max-width: 800px;
    .content {
      min-height: 100%;
      > * + * {
        margin-top: @paragraph-space;
      }
    }
    img {
      display: block;
      width: 90%;
      margin: 0 auto @paragraph-space;
      border-radius: 8px;
    }
    .code-block {
      margin-bottom: @paragraph-space;
    }
  }
  p,
  li,
  summary,
  .header-anchor {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
  }

  details[open] summary {
    margin-bottom: @paragraph-space;
  }
  /* 元素样式 */
  blockquote {
    padding: 8px 16px;
    border-left: 4px solid @primary-color;
    border-radius: 4px;
    background-color: #212121;
    margin-bottom: @paragraph-space;
    p {
      margin: 0;
    }
  }
  each(range(6), {
    h@{value} {
      margin-top: 28px !important;
      font-size: 42px - (@value - 1) * 6px;
      font-weight: 900 - 100 * @value;
      color: #f3f3f3;
    }
  })
    p {
    margin-bottom: @paragraph-space;
  }
  li {
    > p {
      margin-bottom: @paragraph-space;
      &:only-child {
        margin-bottom: 0;
      }
    }
  }
  b,
  strong {
    font-weight: 700;
    color: #f3f3f3;
  }
  a {
    color: #b392f0;
    font-family: Cascadia Code, Menlo, Courier, monospace;
    &:hover {
      text-decoration: underline;
    }
  }
  code {
    color: #d1d1d1;
    padding: 2px 6px;
    border-radius: 5px;
    background-color: #444;
    font-family: Cascadia Code, Menlo, Courier, monospace;
  }
  pre code {
    color: initial;
    padding: initial;
    border-radius: initial;
    background-color: initial;
  }
  ul,
  ol {
    padding-left: 20px;
    margin-bottom: 12px;
  }
  iframe {
    display: block;
    // width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    aspect-ratio: 16 / 9;
    border: 2px solid #333;
  }
  .navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    background-color: var(--dark-background);
    > div {
      cursor: pointer;
      &:hover .footer-link__title {
        color: #b67cff;
      }
    }
    &-menus {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform ease-in-out 150ms;
      &:active {
        transform: scale(1.25);
      }
    }
    .footer-link {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      &__head {
        display: flex;
        align-items: center;
        color: @text-regulary;
        span {
          font-size: 12px;
        }
      }
      &__title {
        margin-top: 6px !important;
        color: #9e51ff;
        font-size: 16px;
        font-weight: 700;
        transition: color linear 0.3s;
      }
    }
    &-next .footer-link {
      align-items: end;
    }
  }
}

@media screen and (min-width: @doc-page-max-width) {
  .doc-content {
    padding-left: calc(var(--doc-sidebar-width) + var(--doc-side-space) / 2);
    .paragraph {
      padding: 32px 0 64px 64px;
    }
  }
  .navigation-menus {
    visibility: hidden;
  }
}
@media screen and (max-width: @doc-page-max-width) {
  .navigation {
    position: sticky;
    bottom: 0;
    width: 100vw;
    padding: 24px;
    transform: translate(-24px, 24px);
    border-top: 1px solid @dark-border;
  }
}
