.network-panel {
  display: flex;
  flex-direction: column;
  &__content {
    flex: 1;
    height: 0;
    margin-top: 8px;
    position: relative;
    border: 2px solid #ddd;
    overflow: auto;
  }
}

.select-item {
  display: flex;
  align-items: center;

  &.label-text {
    margin-left: 5px;
  }
}
