.network-panel {
  display: flex;
  flex-direction: column;
  &__content {
    flex: 1;
    height: 0;
    margin-top: 8px;
    position: relative;
    border: 2px solid #ddd;
    overflow: auto;
  }
}
