.replay-lab {
  position: relative;
  height: 100%;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e33d7d, #6d25e0, #23d5ab);
  background-size: 100% 100%;
  // animation: gradient 45s ease infinite;
  overflow: hidden;
  ::selection {
    background-color: #fff;
    color: @primary-color;
  }
  h1 {
    font-size: 58px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 46px;
    }
    .statement {
      font-size: 12px;
    }
  }
  .code-block {
    code * {
      font-size: 16px;
    }
  }
  .step-actions {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 24px;
    user-select: none;
    opacity: 0.65;
    transition: opacity 0.1s linear;
    @media screen and (min-width: 440px) {
      left: 30px;
      transform: none;
    }
    &:hover {
      opacity: 1;
    }
    [disabled] {
      color: #bbb;
      cursor: not-allowed;
    }
  }

  .fade-enter-active,
  .fade-exit-active {
    transition: all ease-out 300ms;
  }
  .fade-enter {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
  .fade-exit {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
