.log-list {
  .action-item {
    color: @primary-color !important;
  }

  .client-info__logo {
    width: 20px;
  }

  .page-spy-id {
    background-image: repeating-linear-gradient(
      -45deg,
      white,
      white 5px,
      lighten(@primary-color, 38%),
      lighten(@primary-color, 38%) 10px
    );
    background-repeat: repeat;
    border-radius: 4px;
    b {
      font-family: 'Monaco';
      letter-spacing: 8px;
      font-size: 18px;
    }
  }
}
