.log-list {
  .log-list-content {
    width: 90%;
    max-width: 1400px;
    margin: 32px auto 0;
    // overflow: hidden;
  }
  .action-item {
    color: @primary-color !important;
  }

  .client-info__logo {
    width: 20px;
  }

  .page-spy-id {
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      #e9e9e9,
      #e9e9e9 10px
    );
    background-repeat: repeat;
    b {
      font-family: 'Monaco';
      letter-spacing: 8px;
      font-size: 18px;
    }
  }
}
