.code-block {
  position: relative;
  overflow: hidden;
  pre {
    padding: 24px;
    border-radius: 12px;
    overflow: auto;
    code {
      font-size: 14px;
      line-height: 1.2;
      font-family: Cascadia Code, Menlo, Courier, monospace;
    }
  }

  .copy-code {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 12px;
    border-bottom-left-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  &:hover {
    .copy-code {
      visibility: visible;
    }
  }
}
