.replay {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-block: 24px;
  .rrweb-player {
    min-width: 20vw;
    aspect-ratio: 16 / 9;
    background-color: #000;
  }
  .plugin-panel {
    height: 400px;
  }
}
